<!DOCTYPE html>
<html>
<head>
  <title>코인 거래소</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">모범택시</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/coin">거래소</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/join">회원가입</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">로그인</a>
    </li>
  </ul>
</nav>
<br>

<div class="container-fluid">
    
  <h3>모범택시</h3>
  <img src="https://img2.sbs.co.kr/img/sbs_cms/WE/2021/04/05/fNJ1617581491817.jpg" alt="모범택시" width="500" height="333">

</div>

</body>
</html>
